
.body {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("img/background.jpg");/* путь к фоновому изображению */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.header {
    background-color: #3F3A10; /* Темно-деревянный цвет */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 24px;
}

.logo-image {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

.nav {
    display: flex;
}
.nav ul {
    list-style: none;
    margin: 60px;
    padding: 0;
    display: flex;
}

.nav li {
    margin-right: 20px;
}

.nav a {
    text-decoration: none;
    color: #FFFFFF;
    transition: color 0.2s ease;
}

.nav a:hover {
    color: #ff6666;
}

.nav-link {
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 20px;
    transition: color 0.2s ease;
}

.nav-link:hover {
    color: #ff6666; /* Светло-красный при наведении */
}

.nav-link.active {
    color: #40e0d0; /* Бирюзовый цвет для "Главная" */
}

.container-image {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background-image: url("");
    background-size: cover;
    background-position: center;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

:root {
    --item-width: 250px; /* ширина элемента */
    --item-height: 370px; /* высота элемента */
    --font-size: 16px; /* размер шрифта */
    --gap-size: 25px; /* размер отступа */
}

.post-list {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, var(--item-width));
    gap: var(--gap-size);
    justify-content: center; /* центрировать элементы */
    max-width: calc(4 * var(--item-width) + 3 * var(--gap-size));
}

.post-item {
    width: var(--item-width);
    height: var(--item-height);
    padding: 19px;
    border: none;
    border-radius: 5px;
    background-image: url("img/container.png");
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #333;
    font-size: var(--font-size);
    font-weight: bold;
    overflow: hidden; /* скрыть переполнение текста */
}

.post-item h2,
.post-item p {
    margin-top: 10px;
    color: #333;
    word-wrap: break-word; /* переносить длинный текст */
}

.post-item a {
    margin-top: 10px;
    text-decoration: none;
    color: #007BFF;
    transition: color 0.3s ease;
}

.post-item a:hover {
    color: #0056b3;
}
.detail-link {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #660000;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.detail-link:hover {
    background-color: #333;
}

.site-title {
    color: #425465;
}

