{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Доска объявлений{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700|Montserrat:400,500,700">
    <meta name="description" content="Доска объявлений для фанатского сервера MMORPG">
    <meta name="keywords" content="MMORPG, объявления, регистрация, отклики">
    <meta name="theme-color" content="#478ac9">
    <link rel="stylesheet" href="{% static 'django_ckeditor_5/dist/styles.css' %}">
    <script src="{% static 'django_ckeditor_5/src/ckeditor.js' %}"></script>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Главная</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'account_profile' %}">Профиль</a></li>
                <li><a href="{% url 'responses' %}">Мои Отклики</a></li>
                <li><a href="{% url 'account_logout' %}">Выход</a></li>
            {% else %}
                <li><a href="{% url 'account_login' %}">Вход</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
<main>
    <div class="content-wrapper">
        <a class="btn-create-post" href="{% url 'created_post' %}">Создать объявление</a>
        {% block content %}{% endblock %}
    </div>
</main>
<footer>
    <p> 2024 Доска объявлений. Все права защищены.</p>
</footer>
</body>
</html>
