{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="detail-post-container">
    <div class="image-container"></div>

    <div class="post-info">
    <h1>{{ post.title }}</h1>
    <p><strong>Категория:</strong> {{ post.get_category_display }}</p>
    <p><strong>Автор:</strong> {{ post.author }}</p>
    <p><strong>Статус:</strong> {{ post.status|yesno:"Действителен,Объявление закрыто" }}</p>
    <p><strong>Дата создания:</strong> {{ post.created_ad|date:"d.m.Y H:i" }}</p>
    <p><strong>Дата обновления:</strong> {{ post.updated_ad|date:"d.m.Y H:i" }}</p>
        <div class="post-text">{{ post.text|safe }}</div>

        {% if request.user == post.author %}
        <div class="post-actions">
            <a href="{% url 'delete_post' post.pk %}">Удалить пост</a>
            <a href="{% url 'edit_post' post.pk %}">Редактировать пост</a>
        </div>
    {% endif %}
    </div>

    <div class="response-container">
        <h2>Отклики:</h2>
        <p>Всего откликов: {{ total_responses }}</p>
        {% if latest_response %}

            <div class="last-response">
                <div class="response-text">{{ latest_response.text }}</div>
                    <p><strong>Автор:</strong> {{ latest_response.user }}</p>
                    <p><strong>Дата создания:</strong> {{ latest_response.created_ad|date:"d.m.Y H:i" }}</p>
                    <p><strong>Статус:</strong> {{ latest_response.get_status_display }}</p>
                </div>

            {% if latest_response.status == 'pending' %}
                <div class="response-actions" style="display: block;">
                    <a href="{% url 'accept_response' latest_response.id %}">Принять</a>
                    <a href="{% url 'delete_response' latest_response.id %}">Отклонить</a>
                </div>
            {% endif %}



        {% else %}
        <p>Откликов пока нет.</p>
        {% endif %}
    </div>

    <div class="response-form">
        <h2>Оставить отклик:</h2>
        <form method="post" action="{% url 'respond' post.pk %}">
            {% csrf_token %}
            <textarea class="dynamic-textarea" rows="4" cols="50" id="response-text"></textarea>
            <div class="image-button">
                <button type="submit">
                    <img src="{% static 'img/respon.png' %}" alt="Изображение">
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
