{% extends 'base.html' %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <p><strong>Категория:</strong> {{ post.get_category_display }}</p>
    <p><strong>Автор:</strong> {{ post.author }}</p>
    <p><strong>Статус:</strong> {{ post.status|yesno:"Действителен,Объявление закрыто" }}</p>
    <p><strong>Дата создания:</strong> {{ post.created_ad|date:"d.m.Y H:i" }}</p>
    <p><strong>Дата обновления:</strong> {{ post.updated_ad|date:"d.m.Y H:i" }}</p>
    <div>
        {{ post.text|safe }}
    </div>

    {% if request.user == post.author %}
        <div class="post-actions">
            <a href="{% url 'delete_post' post.pk %}">Удалить пост</a>
            <a href="{% url 'edit_post' post.pk %}">Редактировать пост</a>
        </div>
    {% endif %}

    <h2>Отклики:</h2>
    <ul>
        {% for response in post.response_set.all %}
            <li>
                <div class="response-text">{{ response.text|safe }}</div>
                <p><strong>Автор:</strong> {{ response.user }}</p>
                <p><strong>Дата создания:</strong> {{ response.created_ad|date:"d.m.Y H:i" }}</p>
                <p><strong>Статус:</strong> {{ response.get_status_display }}</p>
                {% if response.status == 'pending' %}
                    <div class="response-actions">
                        <a href="{% url 'accept_response' response.id %}">Принять</a>
                        <a href="{% url 'delete_response' response.id %}">Отклонить</a>
                    </div>
                {% endif %}
            </li>
        {% empty %}
            <p>Откликов пока нет.</p>
        {% endfor %}
    </ul>

    <h2>Оставить отклик:</h2>
    <form method="post" action="{% url 'respond' post.pk %}">
        {% csrf_token %}
        <textarea name="text" rows="4" required></textarea>
        <input type="submit" value="Отправить" class="btn btn-primary">
    </form>
{% endblock %}
